<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Base02 depuis vue</title>
</head>
<body>
<h1>ceci est notre premier Template Twig</h1>
<h3>Nous avons passé  une variable dans un tableau à cette vue </h3>
<p>['name' => 'Michael'] donc on peut l'afficher en twig en utilisant {{ name }} collé </p>
<p>{{ name }}</p>
<p>{{ montab.Deums }}</p>
</body>
</html>